<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Classifier</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Sentiment Classifier</h1>
    <p>Choose a model to predict sentiment:</p>
    <ul>
        <li><a href="/naive_bayes">Naive Bayes</a></li>
        <li><a href="/logistic_regression">Logistic Regression</a></li>
        <li><a href="/random_forest">Random Forest</a></li>
        <li><a href="/bert">BERT</a></li>
    </ul>
</body>
</html>
